* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: powderblue;
}
.container {
    border: 10px solid brown;
    font-size:1.5rem;
    margin: 1.5rem;
    padding:1.5rem;
    outline: 5px solid lightseagreen;
    outline-offset: -22px;
}
img {
    max-width: 300px;
    width:100%;
    height: auto;
    display: block;
    margin: 1rem 0;
    border: 2px solid #333;
}
.oval {
    margin: 3rem auto;
    background-color: azure;
    width: 400px;
    height: 200px;
    border-radius: 200px/100px;
    outline: 4px solid palevioletred;
    outline-offset: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;
}
.oval p {
    background-color: transparent;
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0;
}